.menu_button_4 {
    background: url(/media/noodle_3_faded.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    transition: all .2s ease-in-out; 

    color: var(--white);
    font-family: var(--font-body);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;

    padding: 20px;
}

.menu_button_4 > div {
    cursor: pointer;
    padding: 5px 15px;

    width: 100%;
    text-align: left;
}

.menu_button_4:hover {
    background: url(/media/noodle_3_colour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
}
